@media screen and (max-width: 695px) {


  .block-mobile {
    display: block;
  }

  .header {
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 0;

    &__small {
      display: none;
      flex-direction: column;
      height: 100vh;
      background: white;
    }

    &__hamburger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      //background: white;
      padding: 0 20px;
    }

    &__logo {
      display: none;
    }

    &__items {
      margin-right: 0;
    }

    &__navItem {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__navMenu {
      display: flex;
      flex-direction: column;
      width: auto;
      margin: 0 auto;

      li {
        margin-right: 0;
        border-bottom: 0;
        margin-bottom: 20px;
        text-align: center;
      }
    }

    &__navigation {
      display: flex;
    }

    &__blockIconContact {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__iconItem {

      &:last-child {
        margin-right: 0;
      }

      i {
        font-size: 35px;

      }
    }

    &__links {
      font-size: 20px;
    }
  }

  .page-home {
    .header {
      &__small {
        background: #64B8EB;
      }
      &__hamburger {
        background: transparent;
      }
    }
  }

  .buildingLicenses {


    &__title {
      font-size: 50px;
    }

    &__description {
      font-size: 14px;
    }

    &__left {
      width: 90%;
    }

    &__grids {
      width: 302px;
      grid-template-columns: repeat(1, 300px);
    }
  }

  .aboutUs-block {

    &__explanationOne {
      font-size: 14px;
      width: 90%;
    }

    &__explanationSecond {
      font-size: 14px;
      width: 90%;
    }

    &__infoText {
      padding: 50px 0 60px 0;
    }

    &__specialist {
      padding-top: 40px;
      font-size: 40px;
    }


  }

  .ourServices-block {
    &__grid {
      width: 356px;
      grid-template-columns: repeat(1, 356px);
    }
  }

  .block-error {
    &__notFoundLeft {
      margin-left: 20px;
      width: 100%;
    }

    &__title {
      font-size: 38px;
    }

    &__descriptionError {
      font-size: 20px;
    }
  }

  .block-form-contacts {

    &__allBlocks {
      display: block;
      width: 270px;
    }

    &__contactsOne {
      margin-right: 0;
    }

    &__generalInformation {
      font-size: 16px;
      text-align: center;
    }

    &__infoForm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .geolocation {
      top: 0;
    }

    &__titleForm {
      font-size: 25px;
      text-align: center;
      left: 0;
      position: unset;
    }
  }


  .menu  {
    ul {
      li {
        margin-right: 0;
        a {
          font-size: 20px;
        }
      }
    }
  }

  .page-home {
    .menu {
      ul {
        li {
          &.active {
            a {
              color: white;
            }
          }
        }
      }
    }
  }
}