@import "fonts.css";

body {
    color: #393E46;
    font-family: workSansRegular, serif;
    width: 1920px;
}


.block-center {
  width: 1496px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;

    &__center {
        background: #00ADB5;
        width: 1496px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 22px 0;
    }

    &__navMenu {
        display: flex;
    }

    &__navLink {
        margin-right: 40px;
        border-bottom: 2px solid white;
        padding-bottom: 8px;

        &:nth-child(4) {
            margin-right: 0;
        }
    }

    &__links {
        font-size: 16px;
        color: #F8FCFC;
        font-family: workSansMedium;
    }

    &__iconTel {
        margin-right: 24px;
    }
}

.footer {
    background: #393E46;
}