@import "fonts.css";
@import "font-awesome/font-awesome.min.css";
.page-home .header {
  background: transparent;
  position: initial;
}
.page-home .header__links {
  color: #F8FCFC;
  font-size: 20px;
}
.page-home .header__logoLink {
  background-image: url(../img/logo_icon.png);
}
.page-home .header__iconItem {
  color: white;
}
.page-home .header__navLink {
  border-bottom: 0;
}
.page-home .block-form-contacts {
  margin: 0;
  padding-bottom: 60px;
}
.page-home .block-form-contacts__allBlocks {
  padding-bottom: 0;
}
.page-home .block-form-contacts__titleHeadOffice {
  color: #FFFFFF;
}
.page-home .block-form-contacts__generalInformation {
  color: #FFFFFF;
}
.page-home .block-form-contacts__titleRegionalOffice {
  color: #FFFFFF;
}
.page-home .block-form-contacts__button {
  color: #FFFFFF;
}
.page-home .block-form-contacts__labelForm {
  color: #FFFFFF;
}
.page-home .block-form-contacts input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.page-home .block-form-contacts__titleForm {
  color: #FFFFFF;
}
.page-home .block-form-contacts__inputForm {
  border: 1.5px solid #BDBDBD;
  color: white;
  font-family: workSansMedium;
  background-color: transparent;
  color: #FFFFFF;
}
.page-home .block-form-contacts__inputForm:focus {
  color: #FFFFFF;
}
.page-home .block-form-contacts__selectPhone {
  background: transparent;
  color: white;
}
.page-home .block-form-contacts__selectPhone option {
  background: #00adb5;
}
.page-home .block-form-contacts__blockPhone {
  border: 1px solid white;
  display: flex;
}

* {
  outline: none;
}

body {
  color: #393E46;
  font-family: "Poppins", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

.block-center {
  width: 1496px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 1;
  padding-top: 10px;
}
.header__burger {
  display: none;
}
.header__small {
  padding: 20px 0 22px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}
.header__iconItem {
  margin-right: 24px;
  color: black;
}
.header__iconItem i {
  font-size: 24px;
}
.header__logoLink {
  width: 172px;
  height: 41px;
  background-image: url(../img/logo_header.png);
  display: block;
}

.menu ul {
  display: flex;
}
.menu ul li {
  margin-right: 40px;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
}
.menu ul li:nth-child(4) {
  margin-right: 0;
}
.menu ul li.active a {
  color: #64B8EB;
}
.menu ul li a {
  font-size: 16px;
  font-family: workSansMedium;
  color: #393E46;
}
.menu ul li a:hover {
  color: #64B8EB;
}

.footer {
  background: #393E46;
}
.footer__titleOne {
  color: #FFFFFF;
  font-size: 20px;
  font-family: workSansBold;
  padding-bottom: 16px;
}
.footer__titleSecond {
  color: #FFFFFF;
  font-size: 20px;
  font-family: workSansBold;
  padding-bottom: 16px;
  position: relative;
  left: 40px;
}
.footer__titleThird {
  color: #FFFFFF;
  font-size: 20px;
  font-family: workSansBold;
  padding-bottom: 16px;
  position: relative;
  left: 40px;
}
.footer__links {
  color: #FFFFFF;
  font-size: 18px;
  font-family: workSansRegular;
}
.footer__first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0 130px 0;
}
.footer__copyright {
  font-size: 18px;
  color: #FFFFFF;
  font-family: workSansBold;
  text-align: center;
  padding: 24px 0;
}
.footer__mainInfo {
  display: flex;
  padding-bottom: 14px;
}
.footer__contactIcon {
  margin-right: 16px;
}
.footer__contactInfo {
  color: #FFFFFF;
  font-size: 18px;
  font-family: workSansRegular;
  line-height: 155%;
  position: relative;
  top: -5px;
}
.footer__list {
  padding-bottom: 16px;
}
.footer__list:nth-child(4) {
  padding-bottom: 0;
}
.footer__aboutCompany {
  height: 185px;
}
.footer__regionalOffice {
  height: 185px;
}
.footer__headOffice {
  height: 185px;
}
.footer__border {
  border: 1.5px solid #FFFFFF;
  background: #FFFFFF;
}

.telephone {
  position: relative;
  top: -3px;
}

.faxIcon {
  position: relative;
  top: -2px;
}

.emailIcon {
  position: relative;
  top: 3px;
}

.siteImage {
  position: relative;
  top: -77px;
}

.block-aboutSite {
  background-image: url("/img/background_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.block-aboutSite__title {
  font-size: 90px;
  font-family: PoppinsBlack;
  color: #F8FCFC;
}
.block-aboutSite__text {
  font-size: 22px;
  color: #F8FCFC;
  line-height: 135%;
}
.block-aboutSite__left {
  width: 609px;
  margin-top: 160px;
}
.block-aboutSite__link {
  font-size: 14px;
  color: #F8FCFC;
  font-family: workSansSemiBold;
  background: #64B8EB;
  margin-right: 24px;
  padding: 20px 42px;
  border: 1.5px solid transparent;
}
.block-aboutSite__link:nth-last-child(1) {
  margin-right: 0;
}
.block-aboutSite__link:hover {
  background: transparent;
  border: 1.5px solid #FFFFFF;
}
.block-aboutSite__text {
  padding: 10px 0 32px 0;
}
.block-aboutSite__buttons {
  padding-top: 32px;
}

.buildingLicenses {
  padding-bottom: 112px;
  background: #F8FCFC;
}
.buildingLicenses__left {
  width: 609px;
}
.buildingLicenses__title {
  font-size: 90px;
  color: #393E46;
  font-family: PoppinsBlack;
}
.buildingLicenses__description {
  font-size: 16px;
  line-height: 135%;
  color: #393E46;
  padding-top: 32px;
  font-family: workSansMedium;
}
.buildingLicenses__link {
  font-size: 14px;
  color: #F8FCFC;
  padding: 20px 42px;
  letter-spacing: 0.03em;
  font-family: workSansSemiBold;
  background: #64B8EB;
  text-transform: uppercase;
}
.buildingLicenses__grids {
  width: 737px;
  display: grid;
  grid-template-columns: repeat(2, 356px);
  margin-bottom: 40px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  padding-top: 240px;
}
.buildingLicenses__titleGrid {
  font-size: 24px;
  color: #393E46;
  font-family: workSansSemiBold;
}
.buildingLicenses__info {
  background: #E2F1F9;
  padding: 56px 32px;
  border-top: 4px solid #64B8EB;
}
.buildingLicenses__info:hover {
  background: #64B8EB;
  color: #F8FCFC;
}
.buildingLicenses__info:hover .buildingLicenses__titleGrid {
  color: #F8FCFC;
}
.buildingLicenses__info:hover .buildingLicenses__article {
  color: #F8FCFC;
  line-height: 135%;
}
.buildingLicenses__info:hover .buildingLicenses__linkReadMore {
  color: #F8FCFC;
}
.buildingLicenses__article {
  font-size: 16px;
  color: #393E46;
  font-family: workSansMedium;
  padding: 24px 0;
  line-height: 135%;
}
.buildingLicenses__article:hover {
  color: #F8FCFC;
}
.buildingLicenses__linkReadMore {
  font-size: 14px;
  font-family: workSansSemiBold;
  color: #64B8EB;
}
.buildingLicenses__linkReadMore:hover {
  background: #64B8EB;
  color: #F8FCFC;
}
.buildingLicenses__allBlocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-top: 112px;
}
.buildingLicenses__button {
  position: relative;
  bottom: 103px;
}

.blockContactUs {
  background-image: url("/img/background_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.blockContactUs__bigTitle {
  font-size: 90px;
  color: #FFFFFF;
  font-family: workSansBlack;
  text-align: center;
}
.blockContactUs__backgroundSecond {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 120px 0 60px 0;
}
.blockContactUs__titleContactUs {
  text-align: center;
  font-size: 90px;
  font-family: workSansBlack;
  color: #FFFFFF;
}

.blockContactUs-form {
  width: 483px;
}

.block-form-contacts {
  display: flex;
  flex-direction: column;
}
.block-form-contacts__titleHeadOffice {
  font-size: 22px;
  color: #393E46;
  font-family: workSansBold;
}
.block-form-contacts__generalInformation {
  font-size: 16px;
  color: #393E46;
  font-family: workSansRegular;
  line-height: 155%;
}
.block-form-contacts__titleRegionalOffice {
  font-size: 22px;
  color: #393E46;
  font-family: workSansBold;
}
.block-form-contacts__buttonLink {
  font-size: 18px;
  text-align: center;
  font-family: workSansSemiBold;
  color: #FFFFFF;
  padding: 20px 0;
  background: #64B8EB;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
}
.block-form-contacts__groupInput {
  display: flex;
  flex-direction: column;
}
.block-form-contacts__groupInput:first-child .block-form-contacts__labelForm {
  margin-top: 0;
}
.block-form-contacts__inputForm {
  height: 56px;
  border: 1.5px solid #4E4E4E;
  background-color: transparent;
  color: #BDBDBD;
  font-size: 18px;
  font-family: workSansRegular;
  padding: 15px 0px 20px 15px;
}
.block-form-contacts__inputForm:focus {
  color: #393E46;
}
.block-form-contacts__inputForm.inputPhone {
  border: 0;
  padding: 0;
  margin-left: 10px;
  width: 100%;
}
.block-form-contacts__blockPhone {
  border: 1.5px solid #4E4E4E;
  display: flex;
}
.block-form-contacts__labelForm {
  font-size: 22px;
  font-family: workSansBold;
  color: #393E46;
  margin: 24px 0 15px 0;
}
.block-form-contacts input::-webkit-input-placeholder {
  color: #BDBDBD;
}
.block-form-contacts__infoForm {
  display: flex;
  padding-bottom: 16px;
}
.block-form-contacts__icon {
  margin-right: 16px;
}
.block-form-contacts__titleForm {
  padding-bottom: 16px;
  position: relative;
  left: 46px;
  font-size: 22px;
  font-family: workSansBold;
  color: #393E46;
}
.block-form-contacts__regionalOffice {
  margin-top: 40px;
}
.block-form-contacts__contactsOne {
  margin-right: 277px;
}
.block-form-contacts__allBlocks {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 120px;
}

.geolocation {
  position: relative;
  top: 12px;
}

.aboutUs-block {
  background: #FFFFFF;
}
.aboutUs-block__titleForForm {
  font-size: 45px;
  color: #64B8EB;
  text-align: center;
  font-family: workSansBlack;
  padding-top: 120px;
}
.aboutUs-block__skillsAbilities {
  padding-top: 24px;
  font-size: 16px;
  color: #393E46;
  line-height: 155%;
}
.aboutUs-block__head {
  background: #64B8EB;
  text-align: center;
  padding: 38px 0;
}
.aboutUs-block__linkAboutUs {
  font-size: 45px;
  color: #FFFFFF;
  font-family: workSansBlack;
}
.aboutUs-block__infoText {
  display: flex;
  width: 1244px;
  margin: 0 auto;
  padding: 120px 0;
}
.aboutUs-block__explanationOne {
  font-size: 18px;
  line-height: 155%;
  color: #393E46;
  font-family: workSansRegular;
  margin-right: 24px;
  width: 594px;
}
.aboutUs-block__explanationSecond {
  font-size: 18px;
  line-height: 155%;
  color: #393E46;
  width: 580px;
  font-family: workSansRegular;
}
.aboutUs-block__form {
  background: #FCFCFC;
}

.speciality {
  bottom: 75px;
}

.ourServices-block__titleFormBlockServices {
  font-size: 45px;
  color: #64B8EB;
  font-family: workSansBlack;
  text-align: center;
  padding-top: 120px;
}
.ourServices-block__head {
  text-align: center;
  background: #393E46;
  padding: 38px 0;
}
.ourServices-block__linkBlack {
  font-size: 45px;
  color: #FFFFFF;
  font-family: workSansBlack;
}
.ourServices-block__grid {
  display: grid;
  grid-template-columns: repeat(4, 356px);
  margin-bottom: 40px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: repeat(2, 1fr);
  padding: 120px 0 60px 0;
}
.ourServices-block__titleGrid {
  font-size: 24px;
  color: #393E46;
  font-family: workSansSemiBold;
}
.ourServices-block__news {
  font-size: 16px;
  color: #393E46;
  line-height: 135%;
  padding: 24px 0;
  font-family: workSansMedium;
}
.ourServices-block__linkReadMore {
  font-size: 14px;
  color: #64B8EB;
  font-family: workSansSemiBold;
}
.ourServices-block__informGrid {
  padding: 42px 32px;
  background: #E2F1F9;
  height: 380px;
  position: relative;
}
.ourServices-block__informGrid:hover {
  background: #64B8EB;
}
.ourServices-block__informGrid:hover .ourServices-block__titleGrid {
  color: #FFFFFF;
}
.ourServices-block__informGrid:hover .ourServices-block__news {
  color: #FFFFFF;
}
.ourServices-block__informGrid:hover .ourServices-block__linkContactUs {
  display: flex;
}
.ourServices-block__informGrid:hover .ourServices-block__linkReadMore {
  color: #FFFFFF;
  display: none;
}
.ourServices-block__informGrid:hover .ourServices-block__imgBlock {
  left: 380px;
  opacity: 1;
}
.ourServices-block__imgBlock {
  position: absolute;
  top: -4px;
  left: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}
.ourServices-block__FormThisBlock {
  background: #F8FCFC;
  width: 100%;
}
.ourServices-block__linkContactUs {
  display: none;
  width: 143px;
  font-size: 14px;
  padding: 12px 0;
  color: #F8FCFC;
  font-family: workSansSemiBold;
  border: 1px solid #F8FCFC;
  text-transform: uppercase;
  justify-content: center;
  position: relative;
}

.block-error {
  background-image: url("/img/background_error.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.block-error__returnHomeButton {
  font-size: 18px;
  color: #FFFFFF;
  padding: 12px 32px;
  background: #64B8EB;
  font-family: workSansSemiBold;
}
.block-error__returnHomeButton:hover {
  background: transparent;
}
.block-error__notFoundLeft {
  width: 729px;
  padding: 226px 0;
}
.block-error__title {
  font-size: 60px;
  color: #FFFFFF;
  font-family: workSansBlack;
}
.block-error__descriptionError {
  font-size: 20px;
  color: #FFFFFF;
  padding: 16px 0 40px 0;
  line-height: 155%;
  font-family: workSansRegular;
}

.contacts__bigTitle {
  text-align: center;
  padding: 36px 0;
  background: #64B8EB;
}
.contacts__green {
  font-size: 45px;
  color: #FFFFFF;
  font-family: workSansBlack;
}
.contacts__location {
  width: 100%;
}
.contacts .block-form-contacts__BigTitleForm {
  display: none;
}
.contacts__map {
  width: 100%;
}

.slick-track {
  display: flex;
}

.block-mobile {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

@media screen and (max-width: 1500px) {
  .header__small {
    padding: 20px 24px 22px 24px;
  }

  .block-aboutSite__left {
    margin: 40px 0 0 24px;
  }

  .block-sliders__images {
    margin: 0 65px 0px 25px;
  }
  .block-sliders__logoCompanies .slick-prev {
    right: 95px;
  }
  .block-sliders__logoCompanies .slick-next {
    right: 60px;
    bottom: -195px;
  }

  .buildingLicenses {
    padding-bottom: 140px;
  }
  .buildingLicenses__left {
    margin: 0 auto;
    width: 650px;
  }
  .buildingLicenses__grids {
    padding-top: 60px;
    width: 650px;
    grid-template-columns: repeat(2, 312px);
    margin: 0 auto;
  }
  .buildingLicenses__title {
    font-size: 66px;
  }
  .buildingLicenses__allBlocks {
    display: block;
    margin-bottom: 0;
    padding-top: 60px;
  }
  .buildingLicenses__button {
    position: relative;
    top: 50px;
    text-align: center;
  }

  .blockContactUs__backgroundSecond {
    padding: 58px 0;
  }

  .block-form-contacts {
    margin: 0;
  }
  .block-form-contacts__contactsOne {
    margin-right: 40px;
  }

  .block-center {
    width: 100%;
  }

  .footer__first {
    justify-content: space-around;
  }
  .footer__titleThird {
    left: 0;
  }

  .aboutUs-block__infoText {
    width: 90%;
  }
  .aboutUs-block__generalInfo {
    display: none !important;
  }
  .aboutUs-block__mobile {
    display: block !important;
  }
  .aboutUs-block__slider {
    display: none;
  }

  .ourServices-block__grid {
    width: 737px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 356px);
  }

  .block-error__notFoundLeft {
    margin: 0 auto;
  }

  .aboutUs-block__infoPeople.slick-current .aboutUs-block__generalInfo {
    display: none !important;
  }
}
@media screen and (max-width: 1024px) {
  .footer__first {
    flex-direction: column;
    align-items: center;
    padding: 50px 0 40px 0;
  }
  .footer__headOffice {
    height: auto;
    margin-top: 25px;
  }
  .footer__regionalOffice {
    height: auto;
    margin-top: 25px;
  }
  .footer__list {
    display: flex;
    justify-content: center;
  }
  .footer__titleSecond {
    text-align: center;
    position: unset;
    font-size: 25px;
  }
  .footer__titleThird {
    text-align: center;
    position: unset;
  }
  .footer__contactInfo {
    font-size: 16px;
  }
  .footer__copyright {
    font-size: 16px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer .siteImage {
    position: initial;
    top: 0;
  }
  .footer__contactIcon {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .footer__titleOne {
    font-size: 25px;
  }
  .footer__mainInfo {
    display: flex;
    text-align: center;
    padding-bottom: 14px;
    flex-direction: column;
  }
  .footer__mainInfo:last-child {
    padding-bottom: 0;
  }

  .block-form-contacts__allBlocks {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 60px;
  }

  .blockContactUs__bigTitle {
    font-size: 60px;
    margin-bottom: 20px;
  }
  .blockContactUs__backgroundSecond {
    padding-bottom: 0;
  }

  .ourServices-block__titleFormBlockServices {
    margin-bottom: 20px;
    padding-top: 60px;
  }

  .aboutUs-block__titleForForm {
    margin-bottom: 30px;
    padding-top: 60px;
  }

  .contacts__backMap {
    margin-bottom: 60px;
  }

  .block-error {
    background-position: right;
  }

  .block-aboutSite {
    background-position: right;
  }
}
@media screen and (max-width: 800px) {
  .block-aboutSite__title {
    font-size: 80px;
  }
  .block-aboutSite__text {
    font-size: 18px;
  }
  .block-aboutSite__left {
    width: 400px;
    margin: 98px 0 0 24px;
  }

  .aboutUs-block__allSlide {
    width: 90%;
  }
  .aboutUs-block__girlInfo {
    width: 100%;
  }
  .aboutUs-block__skillsAbilities {
    font-size: 13px;
  }
  .aboutUs-block__infoPeople.slick-slide {
    width: 900px !important;
  }
  .aboutUs-block__infoPeople.slick-current {
    width: 25% !important;
  }
  .aboutUs-block__infoPeople.slick-current .aboutUs-block__generalInfo {
    width: 395px;
  }
  .aboutUs-block__infoText {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    align-items: center;
  }
  .aboutUs-block__explanationOne {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .aboutUs-block__specialist {
    padding-top: 60px;
  }

  .block-sliders__img {
    width: 465px !important;
  }

  .page-home .header__links:hover {
    color: #F8FCFC;
  }

  .header__iconItem {
    margin-right: 20px;
  }

  .ourServices-block__grid {
    width: 95%;
    grid-template-columns: repeat(2, 48%);
  }

  .blockContactUs-form {
    width: 100%;
  }

  .block-error__title {
    font-size: 50px;
  }
}
@media screen and (max-width: 695px) {
  .block-mobile {
    display: block;
  }

  .header {
    width: 100%;
    position: sticky;
    top: 0;
    padding-top: 0;
  }
  .header__small {
    display: none;
    flex-direction: column;
    height: 100vh;
    background: white;
  }
  .header__hamburger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 20px;
  }
  .header__logo {
    display: none;
  }
  .header__items {
    margin-right: 0;
  }
  .header__navItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .header__navMenu {
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
  }
  .header__navMenu li {
    margin-right: 0;
    border-bottom: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .header__navigation {
    display: flex;
  }
  .header__blockIconContact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__iconItem:last-child {
    margin-right: 0;
  }
  .header__iconItem i {
    font-size: 35px;
  }
  .header__links {
    font-size: 20px;
  }

  .page-home .header__small {
    background: #64B8EB;
  }
  .page-home .header__hamburger {
    background: transparent;
  }

  .buildingLicenses__title {
    font-size: 50px;
  }
  .buildingLicenses__description {
    font-size: 14px;
  }
  .buildingLicenses__left {
    width: 90%;
  }
  .buildingLicenses__grids {
    width: 302px;
    grid-template-columns: repeat(1, 300px);
  }

  .aboutUs-block__explanationOne {
    font-size: 14px;
    width: 90%;
  }
  .aboutUs-block__explanationSecond {
    font-size: 14px;
    width: 90%;
  }
  .aboutUs-block__infoText {
    padding: 50px 0 60px 0;
  }
  .aboutUs-block__specialist {
    padding-top: 40px;
    font-size: 40px;
  }

  .ourServices-block__grid {
    width: 356px;
    grid-template-columns: repeat(1, 356px);
  }

  .block-error__notFoundLeft {
    margin-left: 20px;
    width: 100%;
  }
  .block-error__title {
    font-size: 38px;
  }
  .block-error__descriptionError {
    font-size: 20px;
  }

  .block-form-contacts__allBlocks {
    display: block;
    width: 270px;
  }
  .block-form-contacts__contactsOne {
    margin-right: 0;
  }
  .block-form-contacts__generalInformation {
    font-size: 16px;
    text-align: center;
  }
  .block-form-contacts__infoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .block-form-contacts .geolocation {
    top: 0;
  }
  .block-form-contacts__titleForm {
    font-size: 25px;
    text-align: center;
    left: 0;
    position: unset;
  }

  .menu ul li {
    margin-right: 0;
  }
  .menu ul li a {
    font-size: 20px;
  }

  .page-home .menu ul li.active a {
    color: white;
  }
}
@media screen and (max-width: 320px) {
  .header__navMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__burger {
    display: block;
  }
  .header__small {
    padding: 0px 8px 0px 16px;
  }
  .header__navLink {
    margin-bottom: 15px;
  }

  .block-aboutSite {
    height: auto;
    background-position: right;
  }
  .block-aboutSite__left {
    margin: 0 auto;
    padding: 30px 0;
  }
  .block-aboutSite__title {
    font-size: 24px;
  }
  .block-aboutSite__text {
    padding: 2px 0 14px 0;
    width: 256px;
    font-size: 14px;
  }
  .block-aboutSite__buttons {
    padding-top: 10px;
  }
  .block-aboutSite__link {
    margin-right: 10px;
    padding: 12px 10px;
    font-size: 12px;
  }

  .slick-track {
    width: 320px !important;
    display: flex;
  }

  .slick-list {
    padding: 0;
  }

  .slick-prev {
    right: 180px !important;
    bottom: 217px !important;
  }

  .slick-next {
    right: 109px !important;
    bottom: 217px !important;
  }

  .buildingLicenses__title {
    font-size: 28px;
    text-align: center;
  }
  .buildingLicenses__grids {
    width: 281px;
    padding-top: 40px;
    grid-template-columns: repeat(1, 280px);
  }
  .buildingLicenses__titleGrid {
    font-size: 20px;
  }
  .buildingLicenses__article {
    font-size: 14px;
  }
  .buildingLicenses__info {
    padding: 25px 32px;
  }
  .buildingLicenses__link {
    padding: 20px 8px;
  }
  .buildingLicenses__left {
    text-align: justify;
    width: 280px;
  }
  .buildingLicenses__description {
    font-size: 14px;
  }

  .blockContactUs__bigTitle {
    font-size: 50px;
  }

  .block-form-contacts__allBlocks {
    display: block;
  }
  .block-form-contacts__contactsOne {
    margin: 0 auto;
    width: 265px;
  }
  .block-form-contacts__generalInformation {
    font-size: 14px;
  }
  .block-form-contacts__titleForm {
    left: 0;
    text-align: center;
  }
  .block-form-contacts__infoForm {
    position: relative;
    width: 213px;
    margin: 0 auto;
  }

  .blockContactUs-form {
    width: 280px;
    margin: 0 auto;
  }

  .footer__contactInfo {
    font-size: 14px;
  }
  .footer__copyright {
    font-size: 14px;
  }

  .siteImage {
    top: -57px;
  }

  .aboutUs-block__infoPeople.slick-current {
    width: 90% !important;
  }
  .aboutUs-block__infoPeople.slick-slide {
    width: 264px !important;
  }
  .aboutUs-block__image {
    width: auto;
  }
  .aboutUs-block__specialtyOne {
    display: block;
  }
  .aboutUs-block__explanationOne {
    width: 100%;
  }
  .aboutUs-block__explanationSecond {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .buildingLicenses__title {
    font-size: 30px;
  }
  .buildingLicenses__left {
    width: 300px;
  }
  .buildingLicenses__description {
    font-size: 14px;
    text-align: justify;
  }

  .blockContactUs__bigTitle {
    font-size: 50px;
  }

  .block-error__notFoundLeft {
    width: 78%;
  }

  .block-aboutSite__link {
    padding: 10px 10px;
  }
  .block-aboutSite__left {
    width: 80%;
  }

  .ourServices-block__grid {
    width: 90%;
    grid-template-columns: repeat(1, 100%);
  }

  .block-sliders {
    width: 100%;
  }
  .block-sliders__img {
    width: auto;
  }
  .block-sliders__quantity {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .block-sliders__texts {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .block-sliders__thirty {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .block-sliders__images {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 35px 0;
  }
  .block-sliders__logoCompanies {
    margin-left: 0;
    width: 228px;
    overflow: hidden;
    margin: 0 auto;
  }

  .aboutUs-block__explanationOne {
    width: 100%;
  }
  .aboutUs-block__explanationSecond {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
