@import "fonts.css";
@import "mixin.scss";
@import "_page-home.scss";
@import "font-awesome/font-awesome.min.css";

$color-form: #393E46;
$height-slide: 377px;

* {
    outline: none;
}

body {
   color: #393E46;
   font-family: workSansRegular, serif;
}


.block-center {
    width: 1496px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background: #FFFFFF;
    z-index: 1;

    &__burger {
        display: none;
    }

    &__small {
        padding: 20px 0 22px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
    }

    &__navMenu {
        display: flex;
    }

    &__navLink {
        margin-right: 40px;
        border-bottom: 2px solid white;
        padding-bottom: 8px;

        &:nth-child(4) {
            margin-right: 0;
        }
    }

    &__links {
        font-size: 16px;
        color: #393E46;
        font-family: workSansMedium;
        &:hover {
            color: #00ADB5;
        }
    }

    &__iconItem {
        margin-right: 24px;
        color: black;
        i {
            font-size: 24px;
        }
    }


    &__logoLink {
        width: 152px;
        height: 38px;
        background-image: url(../img/logo_black.png);
        display: block;
    }
}

.footer {
    background: #393E46;

    &__titleOne {
        @include settings-footer-title;
        padding-bottom: 16px;
    }

    &__titleSecond {
        @include settings-footer-title;
        padding-bottom: 16px;
        position: relative;
        left: 40px;
    }

    &__titleThird {
        @include settings-footer-title;
        padding-bottom: 16px;
        position: relative;
        left: 40px;
    }


    &__links {
        @include settings-footer-blocks;
    }

    &__first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0 130px 0;
        //border-bottom: 1.5px solid #FFFFFF;
    }

    &__copyright {
        font-size: 18px;
        color: #FFFFFF;
        font-family: workSansBold;
        text-align: center;
        padding: 24px 0;
    }

    &__mainInfo {
        display: flex;
        padding-bottom: 14px;
    }

    &__contactIcon {
        margin-right: 16px;
    }


    &__contactInfo {
        @include settings-footer-blocks;
        line-height: 155%;
        position: relative;
        top: -5px;

    }

    &__list {
        padding-bottom: 16px;

        &:nth-child(4){
            padding-bottom: 0;
        }
    }

    &__aboutCompany {
        height: 185px;
    }

    &__regionalOffice {
        height: 185px;
    }

    &__headOffice {
        height: 185px;
    }

    &__border {
        border: 1.5px solid #FFFFFF;
        background: #FFFFFF;
    }
}


.telephone {
    position: relative;
    top: -3px;
}

.faxIcon {
    position: relative;
    top: -2px;
}

.emailIcon {
    position: relative;
    top: 3px;
}

.siteImage {
    position: relative;
    top: -77px;
}

.block-aboutSite {
    background-image: url("/img/background_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;

    &__title {
        font-size: 90px;
        font-family: workSansBlack;
        color: #F8FCFC;
    }

    &__text {
        font-size: 22px;
        color: #F8FCFC;
        font-family: workSansRegular;
    }

    &__left {
        width: 609px;
        margin-top: 160px;
    }

    &__link {
        font-size: 14px;
        color: #F8FCFC;
        font-family: workSansSemiBold;
        @include background-color;
        margin-right: 24px;
        padding: 20px 42px;

        &:nth-last-child(1) {
            margin-right: 0;
        }


        &:hover {
            background: transparent;
        }
    }

    &__text {
        padding: 10px 0 32px 0;
    }

    &__buttons {
        padding-top: 32px;
    }
}



.block-sliders {
    background: #E2F1F9;

    &__texts {
        font-size: 22px;
        color: #393E46;
        font-family: workSansMedium;
    }

    &__thirty {
        font-size: 52px;
        font-family: workSansBold;
    }

    &__quantity {
        padding: 68px 0;
    }

    &__logoCompanies {
        overflow: hidden;
        margin-left: 50px;
        width: 1050px;
        margin-right: 95px;

        .slick-prev {
            right: 180px;
            bottom: -115px;
        }

        .slick-next {
            right: 146px;
            bottom: -180px;
        }
    }

    &__img {
        margin-right: 4px !important;
        width: 260px !important;
    }

    &__images {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}



.slick-arrow {
    position: absolute;
    font-size: 40px;
    background: transparent;
    color: #393E46;
    opacity: 0.4;
    right: 216px;
    margin-top: -30px;

    &:hover {
        opacity: 1;
        cursor: pointer;
    }

    &__images {
        display: flex;
    }
}

.buildingLicenses {
    padding-bottom: 112px;
    background: #F8FCFC;

    &__left {
        width: 609px;
    }

    &__title {
        font-size: 90px;
        color: #393E46;
        font-family: workSansBlack;
    }

    &__description {
        font-size: 16px;
        line-height: 135%;
        color: #393E46;
        padding-top: 32px;
        font-family: workSansRegular;
    }

    &__link {
        font-size: 14px;
        color: #F8FCFC;
        padding: 20px 42px;
        letter-spacing: 0.03em;
        font-family: workSansSemiBold;
        @include background-color;
        text-transform: uppercase;
    }

    &__grids {
        width: 737px;
        display: grid;
        grid-template-columns: repeat(2, 356px);
        margin-bottom: 40px;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        padding-top: 240px
    }

    &__titleGrid {
        font-size: 24px;
        color: #393E46;
        font-family: workSansSemiBold;
    }

    &__info {
        background: #E2F1F9;
        padding: 56px 32px;
        border-top: 4px solid #00ADB5;

        &:hover {
            @include background-color;
            color: #F8FCFC;

            .buildingLicenses__titleGrid {
                color: #F8FCFC;
            }

            .buildingLicenses__article {
                color: #F8FCFC;
            }

            .buildingLicenses__linkReadMore {
                color: #F8FCFC;
            }
        }
    }

    &__article {
        font-size: 16px;
        color: #393E46;
        font-family: workSansRegular;
        padding: 24px 0;
        line-height: 135%;

        &:hover {
            color: #F8FCFC;
        }
    }

    &__linkReadMore {
        font-size: 14px;
        font-family: workSansSemiBold;
        color: #00ADB5;

        &:hover {
            @include background-color;
            color: #F8FCFC;
        }
    }

    &__allBlocks {
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        padding-top: 112px;
    }

    &__button {
        position: relative;
        bottom: 103px;
    }
}

.blockContactUs {

    background-image: url("/img/background_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &__bigTitle {
        font-size: 90px;
        color: #FFFFFF;
        font-family: workSansBlack;
        text-align: center;
    }

    &__backgroundSecond {
        background-image: url("/img/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        padding: 120px 0 60px 0;
    }

    &__titleContactUs {
        text-align: center;
        font-size: 90px;
        font-family: workSansBlack;
        color: #FFFFFF;
    }
}

.blockContactUs-form {
    width: 483px;
}

.block-form-contacts {
    display: flex;
    flex-direction: column;

    &__titleHeadOffice {
        font-size: 22px;
        color: $color-form;
        font-family: workSansBold;
    }

    &__generalInformation {
        font-size: 18px;
        color: $color-form;
        font-family: workSansRegular;
        line-height: 155%;
    }

    &__titleRegionalOffice {
        font-size: 22px;
        color: $color-form;
        font-family: workSansBold;
    }

    &__buttonLink {
        font-size: 18px;
        display: block;
        text-align: center;
        font-family: workSansSemiBold;
        color: #FFFFFF;
        padding: 20px 0;
        background: #00ADB5;
        margin-top: 40px;
    }

    &__groupInput {
        display: flex;
        flex-direction: column;

        &:first-child {
            .block-form-contacts__labelForm {
                margin-top: 0;
            }
        }
    }

    &__inputForm {
        height: 56px;
        border: 1.5px solid #4E4E4E;
        background-color: transparent;
        color: #BDBDBD;
        font-size: 18px;
        font-family: workSansMedium;
        padding: 15px 0px 20px 15px;

        &:focus {
            color: #393E46;
        }

        &.inputPhone {
            border: 0;
            padding: 0;
            margin-left: 10px;
            width: 100%;
        }
    }

    &__selectPhone {
        background: transparent;
        color: $color-form;
        border: 0;
        font-size: 21px;
        padding: 0 10px;
        position: relative;
    }

    &__blockPhone {
        border: 1.5px solid #4E4E4E;
        display: flex;
    }

    &__labelForm {
        font-size: 22px;
        font-family: workSansBold;
        color: #393E46;
        margin: 24px 0 15px 0;
    }

    input::-webkit-input-placeholder {
        color: #BDBDBD;
    }

    &__infoForm {
        display: flex;
        padding-bottom: 16px;
    }

    &__icon {
        margin-right: 16px;
    }

    &__titleForm {
        padding-bottom: 16px;
        position: relative;
        left: 46px;
        font-size: 22px;
        font-family: workSansBold;
        color: $color-form;
    }

    &__regionalOffice {
        margin-top: 40px;
    }

    &__contactsOne {
        margin-right: 277px;
    }


    &__allBlocks {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        padding-bottom: 120px;
    }
}

.geolocation {
    position: relative;
    top: 12px;
}

.aboutUs-block {
    background: #FFFFFF;

    &__titleForForm {
        font-size: 60px;
        color: #393E46;
        text-align: center;
        font-family: workSansBlack;
        padding-top: 120px;
    }

    &__skillsAbilities {
        padding-top: 24px;
        font-size: 16px;
        color: $color-form;
        line-height: 155%;
    }

    &__head {
        background: #E2F1F9;
        text-align: center;
        padding: 38px 0;
    }

    &__linkAboutUs {
        font-size: 60px;
        color: #00ADB5;
        font-family: workSansBlack;
        background: #E2F1F9;
    }

    &__infoText {
        display: flex;
        width: 1244px;
        margin: 0 auto;
        padding: 120px 0 120px 0;
    }

    &__explanationOne {
        font-size: 18px;
        line-height: 155%;
        color: #393E46;
        font-family: workSansRegular;
        margin-right: 24px;
    }

    &__explanationSecond {
        font-size: 18px;
        line-height: 155%;
        color: #393E46;
        font-family: workSansRegular;
    }

    &__slider {
        background: #F8FCFC;
    }

    &__specialist {
        color: #393E46;
        font-size: 60px;
        font-family: workSansBlack;
        text-align: center;
        padding-top: 120px;
    }

    &__specialty {
        background: #393E46;
        padding: 19px 0px 19px 30px;
        bottom: 66px;
        position: relative;
    }

    &__infoPeople {
        margin-right: 24px;

        // Slider
        &.slick-active {
            width: 293px !important;
        }

        &.slick-slide {
            width: 475px;
            height: $height-slide !important;
        }

        &.slick-current {
            display: flex;
            width: 35% !important;
            height: $height-slide;
            .aboutUs-block {
                &__generalInfo {
                    display: flex !important;
                }
                &__infoPeople {
                    display: flex;
                }
                &__specialty {
                    display: none;
                }
                &__image {
                    width: 315px;
                }
                &__specialtyOne {
                    display: none;
                }
            }
        }
    }

    &__name {
        font-size: 22px;
        color: #FFFFFF;
        font-family: workSansBold;
    }

    &__informationSpeciality {
        font-size: 16px;
        color: #FFFFFF;
        font-family: workSansMedium;
        padding-top: 5px;
    }

    &__girlInfo {
        padding: 26px 37px 40px 25px;
    }

    &__generalInfo {
        display: none;
        width: 550px;
        background: #E2F1F9;
        box-shadow: 0px 0px 4px rgba(90, 110, 121, 0.25);
    }

    &__nameSpecialist {
        font-size: 22px;
        color: $color-form;
        font-family: workSansBold;
    }

    &__workSpecialist {
        font-size: 16px;
        color: $color-form;
        font-family: workSansSemiBold;
        padding: 10px 0 24px 0;
    }

    &__itemSpeciality {
        color: #FFFFFF;
        font-size: 14px;
        font-family: workSansRegular;
        background: $color-form;
        width: 120px;
        padding: 10px 20px;
        text-align: center;
        margin-right: 10px;
    }

    &__kindOfSpecialty {
        display: flex;
    }

    &__sliders {
        display: flex;
        justify-content: center;
        padding: 60px 0 120px 0;
    }

    &__image {
        width: 315px;
    }

    &__specialtyOne {
        background: #393E46;
        padding: 19px 0px 19px 30px;
        bottom: 4px;
        position: relative;
    }

    &__allSlide {
        width: 100%;
        overflow: hidden;

        .slick-track {
            display: flex;
        }

        .slick-arrow {
            color: #00ADB5;
        }
        .slick-next {
            color: #00ADB5;
            margin-top: 24px;
            margin-right: 0px;
        }
        .slick-prev {
            margin-top: 401px;
            margin-right: 58px;
        }
    }

    &__image {
        width: 100%;
    }
}

.ourServices-block {

    &__titleFormBlockServices {
        font-size: 60px;
        color: #393E46;
        font-family: workSansBlack;
        text-align: center;
        padding-top: 120px;
    }

    &__head {
        text-align: center;
        background: #393E46;
        padding: 38px 0;
    }

    &__linkBlack {
        font-size: 60px;
        color: #FFFFFF;
        font-family: workSansBlack;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 356px);
        margin-bottom: 40px;
        grid-column-gap: 24px;
        grid-row-gap: 24px;
        grid-template-rows: repeat(2, 1fr);
        padding: 120px 0 60px 0;
    }

    &__titleGrid {
        font-size: 24px;
        color: #393E46;
        font-family: workSansSemiBold;
    }

    &__news {
        font-size: 16px;
        color: #393E46;
        line-height: 135%;
        padding: 24px 0;
        font-family: workSansRegular;
    }

    &__linkReadMore {
        font-size: 14px;
        color: #00ADB5;
        font-family: workSansSemiBold;
    }

    &__informGrid {
        padding: 42px 32px;
        border-top: 4px solid #00ADB5;
        background: #E2F1F9;

        &:hover {
            border-top: 0;
            @include background-color;

            .ourServices-block__titleGrid {
                color: #FFFFFF;
            }

            .ourServices-block__news {
                color: #FFFFFF;
                line-height: 125%;
            }

            .ourServices-block__linkReadMore {
                color: #FFFFFF;
            }
        }
    }

    &__imgBlock {
        position: absolute;
        top: 347px;
        display: none;
    }

    &__FormThisBlock {
        background: #F8FCFC;
        width: 100%;
    }
}

.block-error {
    background-image: url("/img/background_error.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    &__returnHomeButton {
        font-size: 18px;
        color: #FFFFFF;
        padding: 12px 32px;
        @include background-color;
        font-family: workSansSemiBold;

        &:hover {
            background: transparent;
        }
    }

    &__notFoundLeft {
        width: 729px;
        padding: 226px 0;
    }

    &__title {
        font-size: 60px;
        color: #FFFFFF;
        font-family: workSansBlack;
    }

    &__descriptionError {
        font-size: 20px;
        color: #FFFFFF;
        padding: 16px 0 40px 0;
        line-height: 155%;
        font-family: workSansRegular;
    }
}

.contacts {

    &__bigTitle {
        text-align: center;
        padding: 36px 0;
        @include background-color;
    }

    &__green {
        font-size: 60px;
        color: #FFFFFF;
        font-family: workSansBlack;
    }


    &__location {
        width: 100%;
    }

    .block-form-contacts__BigTitleForm {
        display: none;
    }
}

.slick-track {
    display: flex;
}

.block-mobile {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

@import "media_1500.scss";
@import "_media_1024.scss";
@import "_media_800.scss";
@import "_media_695.scss";
@import "_media_320.scss";


